body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #F49EB7;
}
.screen_1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    padding: 2.6vw 2.6vw 1.5vw 2.6vw;
    height: 93vh;
}
    
.bl_1{
    background-color: #F0E6D1;
    background-image: url(../img/Header.svg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: 1 / 1 / 2 / 13;
    border: thick solid #1D1E19;
}

.bl_2{
    background-color: #F57B45;
    background-image: url(../img/Fon_train.svg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: 2 / 1 / 3 / 9;
    border: thick solid #1D1E19;
    overflow: hidden;
}

.img_train{
    margin-top: 5.1vw;
    margin-left: -14.1vw;
    animation: train 8s ease-in-out infinite;
}

@keyframes train {
    0% {
        transform: translateX(-80vw);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(130vw);
    }
}

.bl_3{
    background-color: #F6CA45;
    grid-area: 3 / 1 / 4 / 9;
    border: thick solid #1D1E19;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    justify-content: space-between;
}

.text_bt{
    display: flex;
    justify-content: space-between;
}

.img_text_1{
    width: 38%;
}

.bt{
    border-radius: 4vw;
    display: inline-flex;
    padding: 0vw 1vw;
    align-items: center;
    gap: 0.5vw;
    border: 0.1vw solid #1D1E19;
    background: #F0E6D1;
    box-shadow: 0.2vw 0.2vw 0px 0px #1D1E19;
    color: #1D1E19;
    font-family: 'Geomertia_ExtraBold';
    font-size: 1.6vw;
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.bt:hover {
    background-color: #C6DF79;
    transform: scale(1.05);

}

.img_arrow{
    width: 1.35vw;
}

.text_num{
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
}

.num{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vw;
}

.img_num{
    width: 2.7vw;
}

.text{
    font-family: 'Geomertia_Bold';
    font-size: 1.45vw;
    color: #1D1E19;
    text-transform: uppercase;
    line-height: normal;
}

.bl_4{
    background-color: #66AEF4;
    background-image: url(../img/Noodles.svg);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    grid-area: 2 / 9 / 4 / 13;
    border: thick solid #1D1E19;
}


.img_drag_1{
    width: 8vw;
    margin: 2.5vw 0 0 1.5vw;
    cursor: move;
    position: absolute;
}

.screen_2, .screen_3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    padding: 0vw 2.6vw 1.5vw 2.6vw;
    height: 52.15vw;
}

.bl_5{
    background-color: #FFAFCA;
    grid-area: 1 / 1 / 3 / 7;
}

.bl_6{
    background-color: #55c359;
    grid-area: 1 / 7 / 2 / 13;
}

.bl_7{
    background-color: #18205c;
    grid-area: 2 / 7 / 3 / 11;
}

.bl_8{
    background-color: #89a014;
    grid-area: 2 / 11 / 3 / 13;
}

.bl_9{
    background-color: #FFAFCA;
    grid-area: 1 / 1 / 2 / 13;
}

.bl_10{
    background-color: #55c359;
    grid-area: 2 / 1 / 3 / 3;
}

.bl_11{
    background-color: #18205c;
    grid-area: 2 / 3 / 3 / 9;
}

.bl_12{
    background-color: #89a014;
    grid-area: 2 / 9 / 3 / 13;
}

.screen_4{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    padding: 0vw 2.6vw 1.5vw 2.6vw;
    height: 52.15vw;
}

.bl_13{
    background-color: #FFAFCA;
    grid-area: 1 / 1 / 2 / 7;
}

.bl_14{
    background-color: #55c359;
    grid-area: 2 / 1 / 4 / 4;
}

.bl_15{
    background-color: #18205c;
    grid-area: 2 / 4 / 4 / 7;
}

.bl_16{
    background-color: #89a014;
    grid-area: 1 / 7 / 4 / 13;
}

.screen_5{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    padding: 0vw 2.6vw 2.6vw 2.6vw;
    height: 52.15vw;
}

.bl_17{
    background-color: #FFAFCA;
    grid-area: 1 / 1 / 4 / 10;
}

.bl_18{
    background-color: #55c359;
    grid-area: 1 / 10 / 4 / 13;
}

.bl_19{
    background-color: #18205c;
    grid-area: 4 / 1 / 5 / 7;
}

.bl_20{
    background-color: #89a014;
    grid-area: 4 / 7 / 5 / 13;
}