body{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #F49EB7;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 4; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(240,230,209,0.6); 
    align-content: center;
    justify-items: center;
}

.modal-content {
    display: flex;
    border-radius: 2.6vw;
    border: thick solid #1D1E19;
    background: #FFE1BB;
    flex-direction: column;
    align-items: center;
    padding: 1.56vw 1.56vw 4.79vw 0;
}

.bl_bt{
    display: flex;
    justify-content: flex-end;
    width: 49.89vw;
    height: 3.38vw;
}

.bl_winner, .bl_res{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.6vw;
}

.img_mes{
    height: 8.22vw;
}

#winningImage{
    width: 23.43vw;
    height: 10.83vw;
}

.bl_res{
    gap: 3.5vw;
}

.tex{
    display: flex;
    gap: 1.5vw;
    flex-direction: column;
    align-items: center;
}

.res{
    color: #1D1E19;
    font-family: 'Geomertia_ExtraBold';
    font-size: 1.2vw;
    text-transform: uppercase;
    line-height: normal;
}

.img_bt{
    height: 1.51vw;
    width: 14.53vw;
}

.sectionfirst, .sectionsecond, .sectionthird, .sectionfour, .sectionfive{
    display: grid;
    grid-column-gap: 1.5vw;
    grid-row-gap: 1.5vw;
    height: 90.8vh;
}

.sectionfirst{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2.6vw;
    /*height: 51.1vw;*/
    overflow: hidden;
}

.sectionnone{
    display: none;
}
   
.bl_1, .bl_2, .bl_4, .bl_6, .bl_7, .bl_8, .bl_10, .bl_11, .bl_12, .bl_13, .bl_14, .bl_15, .bl_20{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: thick solid #1D1E19;
    overflow: hidden;
}

.bl_1{
    background-color: #F0E6D1;
    background-image: url(../img/Header.svg);
    grid-area: 1 / 1 / 2 / 13;
    background-size: 100%;
}

.bl_2{
    background-color: #F57B45;
    background-image: url(../img/Fon_train.svg);
    grid-area: 2 / 1 / 3 / 9;
}

.img_train{
    margin-top: 6vw;
    margin-left: -14.1vw;
    width: 73.9vw;
    animation: train 8s ease-in-out infinite;
}

@keyframes train {
    0% {
        transform: translateX(-80vw);
    }
    40% {
        transform: translateX(0);
    }
    60% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(130vw);
    }
}

.bl_3{
    background-color: #F6CA45;
    grid-area: 3 / 1 / 4 / 9;
    border: thick solid #1D1E19;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 3.6vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.text_bt{
    display: flex;
    gap: 23.6vw
}

.img_text_1{
    height: 3.75vw;
}

.bt, .bt_res, .bt_close, #but_res{
    border-radius: 4vw;
    display: inline-flex;
    padding: 0vw 1vw;
    align-items: center;
    gap: 0.5vw;
    border: 0.1vw solid #1D1E19;
    background: #F0E6D1;
    box-shadow: 0.2vw 0.2vw 0px 0px #1D1E19;
    color: #1D1E19;
    font-family: 'Geomertia_ExtraBold';
    font-size: 1.6vw;
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.bt:hover, .bt_res:hover, .bt_close:hover {
    background-color: #C6DF79;
    transform: scale(1.05);
}

.bt_close{
    background: #C6DF79;
}

.img_arrow, .img_ok, .img_close{
    width: 1.35vw;
}

.text_num_1{
    display: flex;
    flex-direction: row;
    gap: 2.6vw;
}

.num{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vw;
}

.img_num{
    width: 2.7vw;
}

.text{
    font-family: 'Geomertia_Bold';
    font-size: 1.45vw;
    color: #1D1E19;
    text-transform: uppercase;
    line-height: normal;
}

.bl_4{
    background-color: #66AEF4;
    background-image: url(../img/Noodles.svg);
    grid-area: 2 / 9 / 4 / 13;
}

.img_drag_1, .img_drag_2, .img_drag_3, .img_drag_4, .img_drag_5, .img_drag_6{
    cursor: move;
    position: absolute;
}

.img_drag_1{
    width: 8vw;
    margin: 2.5vw 0 0 1.5vw;
}

.img_drag_2{
    width: 1.9vw;
    margin: 13.7vw 0 0 8.2vw;
}

.img_drag_3{
    width: 4.4vw;
    margin: 15.3vw 0 0 1.5vw;
}

.img_drag_4{
    width: 1.6vw;
    margin: 9.1vw 0 0 20vw;
}

.img_drag_5{
    width: 3.1vw;
    margin: 7.1vw 0 0 25vw;
}

.img_drag_6{
    width: 1.8vw;
    margin: 23.5vw 0 0 25.3vw;
}

.sectionsecond, .sectionthird{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.sectionsecond{
    padding: 2.6vw 2.6vw 0 2.6vw;
    height: 95.38vh;
}

.bl_5{
    display: flex;
    background-color: #F57B45;
    grid-area: 1 / 1 / 3 / 7;
    border: thick solid #1D1E19;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.img_slot{
    position: absolute;
    width: 46.6%;
    height: 95.3%;
    z-index: 2;
}

.container{
    display: flex;
    position: relative;
    justify-content: center;
    width: 27vw;
    height: 14vw;
    background-color: #F0E6D1;
    overflow: hidden;
    margin-left: 6.4vw;
    margin-top: 2vw;
    z-index: 1;
}

.bt_slot{
    width: 4.58vw;
    height: 4.58vw; 
    background-color: #5DC27C; 
    border-radius: 50%; 
    border: thick solid #1D1E19;
    cursor: pointer;
    z-index: 3;
    margin-top: -8vw;
}
.reel {
    position: absolute;
    width: 16.92vw;
    margin-top: -6.3vw;
    display: flex;
    flex-direction: column; 
    animation: reel 4s linear; 
    overflow: hidden;
    gap: 1.5vw;
}

@keyframes reel {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0%); }
}

.inner {
    width: 16.92vw;
    height: 100%;
}

.bl_6{
    background-color: #55c359;
    grid-area: 1 / 7 / 2 / 13;
    background-image: url(../img/Illustr_1.svg);
}

.bl_7{
    background-color: #F6CA45;
    grid-area: 2 / 7 / 3 / 11;
    background-image: url(../img/Illustr_2.svg);
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    gap: 3.6vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.img_text_2{
    height: 3.75vw;
}

.text_num_2{
    display: flex;
    flex-direction: column;
    gap: 2.6vw;
}

.bl_8{
    background-color: #89a014;
    grid-area: 2 / 11 / 3 / 13;
    background-image: url(../img/Cafe.svg);
    transition: background-image 0.15s;
}

.bl_8:hover {
    background-image: url(../img/Cafe_hover.svg);
}

.sectionthird{
    padding: 1.5vw 2.6vw 1.5vw 2.6vw;
    height: 94.67vh;
}

.bl_9{
    background-color: #F0E6D1;
    grid-area: 1 / 1 / 2 / 13;
    border: thick solid #1D1E19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    /* добавляем трёхмерность для эффекта вращения */
    transform-style: preserve-3d;
    perspective: 500px;
    display: flex;
    gap: 1.5vw;
}

  /* стили карточек */
.card {
    /* параметры расположения, высоты и ширины карточки */
    float: left;
    width: 13.6vw;
    height: 20.5vw;
    display: block;
    perspective: 500px;
    /* добавляем относительное позиционирование */
    position: relative;
    cursor: pointer;
    z-index: 50;
}

  /* обратная сторона карточки */
.card .inside {
/* содержимое занимает весь размер карточки */
    width: 100%;
    height: 100%;
    display: flex;
    /* анимация переворачивания */
    transform-style: preserve-3d;
    transition: 0.4s ease-in-out;
    background: #5DC27C;
    border: thick solid #1D1E19;
    border-radius: 1.3vw;
    align-items: center;
    justify-content: center;
}

/* общие настройки для обеих сторон карточки */
.card .front, .card .back {
    /* прячем обратную сторону */
    backface-visibility: hidden;
    /* абсолютное позиционирование */
    position: absolute;
}

/* настройки изображения на лицевой и обратной стороне */
.card .front img, .card .back img {
    /* картинка занимает всю ширину */
    max-width: 100%;
    /* отображаем как блочный элемент, без отступов */
    display: block;
    margin: 0 auto;
    max-height: 100%;
    border-radius: 1.3vw;
}

.card .front {
    /* переворачиваем карточку обложкой вверх */
    transform: rotateY(-180deg);
}
    
@media (max-width: 800px) {
    .card .front {
      padding: 5px;
    }   
    .card .back {
      padding: 10px;
    }
}

.card .inside.picked, .card .inside.matched {
    transform: rotateY(180deg);
}
.front img{
    width: 11vw;
}

.bl_10{
    grid-area: 2 / 1 / 3 / 3;
    background-image: url(../img/Illustr_3.svg);
}

.bl_11{
    background-color: #F6CA45;
    grid-area: 2 / 3 / 3 / 9;
    background-image: url(../img/Illustr_5.svg);
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    gap: 3.6vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.img_text_3{
    height: 3.75vw;
}

.bl_12{
    grid-area: 2 / 9 / 3 / 13;
    background-image: url(../img/Illustr_4.svg);
}

.sectionfour{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0vw 2.6vw 1.5vw 2.6vw;
    height: 54.8vw;
}

.bl_13{
    background-color: #F6CA45;
    grid-area: 1 / 1 / 2 / 7;
    background-image: url(../img/Illustr_6.svg);
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    gap: 3.6vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.img_text_4{
    height: 3.75vw;
}

.bl_14{
    background-color: #55c359;
    grid-area: 2 / 1 / 4 / 4;
    background-image: url(../img/Illustr_7.svg);
}

.bl_15{
    background-color: #F0E6D1;
    border: thick solid #1D1E19;
    grid-area: 2 / 4 / 4 / 7;
    background-image: url(../img/Illustr_8.svg);
}

.bl_16 {
    background-color: #F0E6D1;
    border: thick solid #1D1E19;
    grid-area: 1 / 7 / 4 / 13;
    overflow: hidden;
}

.img_maze{
    position: absolute;
    z-index: 2;
    width: 46.1979vw;
    height: 54.7917vw;
    margin-left: -0.2vw;
    margin-top: -0.25vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(17, 1fr);
}

.gridSquare {
    height: 3.195vw;
}

.wall {
    background-color: #66AEF4;
}

.food, .exit, .paht {
    background-color: #F0E6D1;
}

.food{
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center;
}

.pacman {
    background-image: url(../img/Burger_maze.svg);
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center;
}

.sectionfive{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 0vw 2.6vw 2.6vw 2.6vw;
    height: 95.38vh;
}

.bl_17{
    display: flex;
    background-color: #C3DD7C;
    border: thick solid #1D1E19;
    grid-area: 1 / 1 / 4 / 10;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.3vw 0vw;
}

.ticket_1, .ticket_2, .ticket_3, .ticket_4{
    width: 30.2vw;
    height: 13.95vw;
}

.ticket_1{
    background-image: url(../img/Ticket_fon_1.svg);
    background-size: cover;
}

.ticket_2{
    background-image: url(../img/Ticket_fon_2.svg);
    background-size: cover;
}

.ticket_3{
    background-image: url(../img/Ticket_fon_3.png);
    background-size: cover;
}

.ticket_4{
    background-image: url(../img/Ticket_fon_4.png);
    background-size: cover;
}

.canvas {
    background: transparent;
    width: 30.2vw;
    height: 13.95vw;
}

.canvas-container {
    display: flex;
    gap: 20px;
}

.canvas {
    border: 1px solid #ccc;
    cursor: pointer;
}

.bl_18{
    border: thick solid #1D1E19;
    background-color: #F6CA45;
    grid-area: 1 / 10 / 4 / 13;
    display: flex;
    flex-direction: column;
    padding: 2vw 0 0 2vw;
    gap: 3.6vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.bt_res{
    padding: 0.9vw 1vw;
}

#but_res{
    padding: 1vw;
}

.img_text_5{
    height: 3.75vw;
}

.bl_19{
    display: flex;
    border: thick solid #1D1E19;
    background-color: #F57B45;
    grid-area: 4 / 1 / 5 / 6;
    align-items: center;
    overflow: hidden;
}

.img_text_6{
    height: 100%;
    width: 115.78vw;
    animation: text 15s ease-in-out infinite;
}

@keyframes text {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-36vw);
    }
    40% {
        transform: translateX(-36vw);
    }
    50% {
        transform: translateX(-72vw);
    }
    65% {
        transform: translateX(-72vw);
    }
    75% {
        transform: translateX(-36vw);
    }
    90% {
        transform: translateX(-36vw);
    }
    100% {
        transform: translateX(0);
    }
}

.bl_20{
    background-color: #F0E6D1;
    border: thick solid #1D1E19;
    grid-area: 4 / 6 / 5 / 13;
    background-image: url(../img/Illustr_9.svg);
}