/*(1920px)*/
@media screen and (min-width: 1681px) and (max-width: 1920px) {

}

/*(1680px)*/
@media screen and (min-width: 1445px) and (max-width: 1680px) {
    .sectionfirst{
        height: 91.616vh;
    }

    .img_train {
        margin-top: 11.7vh;
    }
}

/*(1440px)*/
@media screen and (min-width: 1368px) and (max-width: 1444px) {
    .sectionfirst{
        height: 91.65vh;
    }

    .img_train {
        margin-top: 11.7vh;
    }
}

/*(1366px)*/
@media screen and (min-width: 1281px) and (max-width: 1367px) {
    .sectionfirst{
        height: 90.713vh;
    }

    .img_train {
        margin-top: 10.4vh;
    }
}

/*(1280px)*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .sectionfirst{
        height: 92.578vh;
    }

    .img_train {
        margin-top: 12.9vh;
    }
}

/*(1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sectionfirst{
        height: 93.041vh;
    }

    .img_train {
        margin-top: 13.4vh;
    }
}

/* Вертикальная ориентация для планшета (768px) */
@media screen and (min-width: 416px) and (max-width: 768px) and (orientation: portrait) {

    .img_bt {
        height: 3vw;
    }

    .bl_bt {
        width: 75vw;
        height: 6.9987vw;
    }

    .img_res {
        height: 14.3229vw;
    }

    .res {
        font-size: 2.2vw;
    }

    .tex{
        gap: 2.5vw;
    }

    .img_mes {
        height: 14.3229vw;
    }

    #winningImage{
        width: 39.06vw;
    }

    .bl_winner, .bl_res {
        gap: 4.5vw;
    }

    .modal-content {
        border-radius: 4vw;
        border: 0.4vw solid #1D1E19;
        padding: 2.6042vw 2.6042vw 8vw 0;
        gap: 1vw;
    }

    .sectionfirst, .sectionsecond, .sectionthird, .sectionfour, .sectionfive{
        grid-column-gap: 2.6vw;
        grid-row-gap: 2.6vw;
    }

    .sectionfirst{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 3.91vw;
        height: 94.136vh;
    }

    .bl_1, .bl_2, .bl_3, .bl_4, .bl_5, .bl_6, .bl_7, .bl_8, .bl_9, .bl_10, .bl_11, .bl_12, .bl_13, .bl_14, .bl_15, .bl_16, .bl_17, .bl_18, .bl_19, .bl_20{
        border: 0.4vw solid #1D1E19;
    }

    .bl_4{
        background-size: 110%;
    }

    .bt{
        display: none;
    }

    .bl_1{
        grid-area: 1 / 1 / 3 / 3;
        background-image: url(../img/Header_768.svg);
        background-size: 90%;
    }

    .bl_2{
        grid-area: 3 / 1 / 4 / 3;
    }

    .img_train{
        margin-top: 3.6vh;
        margin-left: -30vw;
        width: 108.72vw;
    }

    .bl_3{
        grid-area: 4 / 1 / 6 / 2;
        gap: 3vh;
    }

    .bt, .bt_1, .bt_res, .bt_close, #but_res, .bt_r{
        border-radius: 10.4167vw;
        display: inline-flex;
        padding: 1vw 2.2135vw 1.2vw 2.2135vw;
        gap: 1.3021vw;
        border: 0.2604vw solid #1D1E19;
        box-shadow: 0.3906vw 0.3906vw 0px 0px #1D1E19;
        font-size: 3.1250vw;
    }

    #but_res{
        padding: 2vw 2.3vw 1.8vw 2.3vw;
    }

    .bt{
        display: none;
    }

    .text_num_1{
        gap: 2.5vw;
    }

    .text_b{
        width:39.58vw;
    }

    .img_text_1{
        height: 5.0781vh;
    }

    .img_text_2, .img_text_3, .img_text_4, .img_text_5{
        height: 6.7708vw;
    }

    .img_text_3{
        height: 8.277vw;
    }

    .text_num{
        width: 39.584vw;
        height: 22.3633vh;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .img_num{
        width: 3.9063vw;
        height: 2.9297vh;
    }
    
    .text, .text_2{
        font-size: 2.7344vw;
        letter-spacing: -0.42px;
    }

    .text_2{
        width: 34.3750vw;
    }

    .num, .nu{
        gap: 1.3021vw;
    }

    .nu{
        width: 47vw;
    }

    .text_num_2{
        gap: 2.5vw;
    }

    .text_r{
        display: flex;
        width: 84vw;
        justify-content: space-between;
    }

    .bt_res{
        display: none;
    }

    .text_btn{
        display: none;
    }

    .img_arrow, .img_ok, .img_close{
        width: 2.2135vw;
    }

    .bl_4{
        grid-area: 4 / 2 / 6 / 3;
    }

    .img_drag_1{
        width: 12.7604vw;
        height: 5.6641vh;
        margin: 4vh 0 0 1.5vw;
    }
    
    .img_drag_2{
        width: 2.8646vw;
        height: 2.1484vh;
        margin: 15vh 0 0 11.5vw;
    }
    
    .img_drag_3{
        width: 6.3802vw;
        height: 4.6875vh;
        margin: 21vh 0 0 1.5vw;
    }
    
    .img_drag_4{
        width: 2.3438vw;
        height: 1.7578vh;
        margin: 11.5vh 0 0 29.2vw;
    }
    
    .img_drag_5{
        width: 4.5573vw;
        height: 3.4180vh;
        margin: 13vh 0 0 37vw;
    }
    
    .img_drag_6{
        width: 2.4740vw;
        height: 1.8555vh;
        margin: 26vh 0 0 40vw;
    }

    .sectionsecond, .sectionthird, .sectionfour, .sectionfive{
        padding: 3.9063vw 3.9063vw 0 3.9063vw;
        height: 204.167vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .bl_7{
        grid-area: 1 / 1 / 2 / 2;
        gap: 5vw;
        padding: 3.5vw 0 0 2.5vw;
        background-image: url(../img/Illustr_2_768.svg);
    }

    .bl_8{
        grid-area: 1 / 2 / 2 / 3;
        background-image: url(../img/Cafe_768.svg);
    }

    .bl_8:hover {
        background-image: url(../img/Cafe_768_hover.svg);
    }

    .bl_5{
        grid-area: 2 / 1 / 4 / 3;
        gap: 10vw;
    }

    .img_slot {
        width: 90vw;
        height: 100.6vw;
    }

    .container {
        width: 50vw;
        height: 26vw;
        margin-left: 12.5vw;
        margin-top: 3.9vw;
    }

    .bt_slot {
        width: 8.4635vw;
        height: 8.4635vw;
        border: 0.4vw solid #1D1E19;
        margin-top: -11vw;
    }

    .reel {
        width: 33.4635vw;
        margin-top: -12.8vw;
        animation: reel 4s linear;
        gap: 2.5vw;
    }

    .inner {
        width: 33.4635vw;
    }

    .bl_6{
        grid-area: 4 / 1 / 5 / 3;
    }

    .sectionthird{
        grid-template-columns: repeat(3, 1fr);
        padding: 3.9063vw;
        height: 182.293vw;
    }

    .bl_11{
        grid-area: 1 / 1 / 2 / 4;
        gap: 5vw;
        padding: 3.5vw 0 0 2.5vw;
        background-image: url(../img/Illustr_5_768.svg);
    }

    .bl_9{
        grid-area: 2 / 1 / 4 / 4;
    }

    .game{
        gap: 2.6042vw;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 25.9115vw;
        height: 39.0625vw;
    }

    .front img {
        width: 20.9310vw;
    }

    .card .inside {
        border: 0.4vw solid #1D1E19;
    }

    .bl_10{
        grid-area: 4 / 1 / 5 / 2;
    }

    .bl_12{
        grid-area: 4 / 2 / 5 / 4;
    }

    .sectionfour{
        padding: 0 3.9063vw 3.9063vw 3.9063vw;
        height: 218.49vw;
        grid-template-rows: repeat(6, 1fr);
    }

    .bl_13{
        grid-area: 1 / 1 / 2 / 3;
        gap: 5vw;
        padding: 3.5vw 0 0 2.5vw;
    }

    .bl_16{
        grid-area: 2 / 1 / 5 / 3;
    }

    .gridSquare {
        height: 6.32vw;
    }

    .img_maze{
        z-index: 2;
        width: 91.8vw;
        height: 108.09vw;
        margin-left: -1vw;
        margin-top: -0.35vw;
    }

    .bl_14{
        grid-area: 5 / 1 / 7 / 2;
    }

    .bl_15{
        grid-area: 5 / 2 / 7 / 3;
    }

    .sectionfive{
        padding: 0 3.9063vw 3.9063vw 3.9063vw;
        height: 270.574vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .bl_18{
        grid-area: 1 / 1 / 3 / 3;
        gap: 5vw;
        padding: 3.5vw 0 0 2.5vw;
        background-image: url(../img/Illustr_10_768.svg);
    }

    .bl_17{
        grid-area: 3 / 1 / 9 / 3;
        flex-direction: column;
    }

    .ticket_1, .ticket_2, .ticket_3, .ticket_4 {
        width: 71.6146vw;
        height: 33.2031vw;
    }

    .canvas {
        width: 71.6146vw;
        height: 33.2031vw;
    }

    .bl_20{
        grid-area: 9 / 1 / 10 / 3;
    }

    .img_text_6 {
        height: 200%;
        width: 250vw;
        animation: text_1 15s ease-in-out infinite;
    }

    .bl_19{
        grid-area: 10 / 1 / 11 / 3;
    }
}